:root {
  --jumbotron-padding-y: 3rem;
}

body {
  font-family: "Raleway", sans-serif;
  position: relative;
  padding-bottom: 24px;
  min-height: 100vh;
}

.btn-primary {
  background: #fff854;
  border: 1px solid black;
  color: black;
}

.btn-primary:hover {
  background: #ee92c7;
  border: 1px solid black;
  color: black;
}

.logo {
  width: 50px;
  border-radius: 50%;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background: url("LY images/bg\ image.jpg") no-repeat center;
  background-size: cover;
}

.jumbotron > .container {
  background: rgba(255, 255, 255, 0.7);
}

.jumbotron h1 {
  font-family: "Kaushan Script", cursive;
}

.carousel {
  /* min-height: 100vh; */
}

.carousel-inner img {
  background-size: cover;
  max-width: 100%;
  filter: brightness(70%);
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  color: black;
  height: 30vh;
}

.carousel-caption h3 {
  font-size: 200%;
  /* text-shadow: 1px 1px 15px #000; */
}

.carousel-caption p {
  font-size: 150%;
  font-weight: 500;
  /* text-shadow: 1px 1px 10px #000; */
  padding-bottom: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
